/*----  DO npm install babel-runtime@^5.5.3 TO FIX UNMET DEPENDENCY ERROR!!!!!! ----*/      
    

@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Dosis');

//variables
$main-font: "Lobster";
$secondary-font: "Dosis";

$nrf: no-repeat fixed;
$nrs: no-repeat scroll;

$red: #E30A17;
$white: #fff;
$turquoise: #00dce8;

//font sizes
$main-header-size: 5em;
$main-subheader-size: 3em;
$secondary-subheader-size: 2em;
$desc-size: 1.5em;

$arrow-rotate-out: all 2.0s cubic-bezier(.37,1.01,.8,.99);
$color-hover: color 0.3s ease-in-out;

//keyframes


@keyframes flag-background{
	45%     {opacity: 1;}
    50%     {opacity: 0.85;}
    100%     {opacity: 1;}
}

@keyframes occasional-blur{
    20%, 40%	{-webkit-filter: blur(0px); -moz-filter: blur(0px);}
	30%		    {-webkit-filter: blur(1px); -moz-filter: blur(1px);}
}

@keyframes moveArrows{
    0% { transform: translateY(0px);}
    50% {transform: translateY(30px);}
}

//mixins
@mixin main-font{
    font-family: $main-font, Arial, Helvetica, serif;
}

@mixin secondary-font{
    font-family: $secondary-font, Arial, Helvetica, serif;
}

@mixin border-radius{
    border-radius: 10px;
}

@mixin more-legible-paragraph{
    background: rgba(0,0,0,0.6);
    border-radius: 10px;
}


@mixin occasional-blur{
    animation: occasional-blur 6s infinite;
}

@mixin global-padding{
    padding: 0 10vw;
}

@mixin flex-display{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin scrollmagic-header-start($rotation){
    opacity: 0;
    transform: rotate($rotation);
    transform : all 0.5s ease-in-out; 
}

@mixin scrollmagic-header-finish{
    opacity: 1;
    transform: rotate(0deg);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
//------------RESET-------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

::selection {
    color: $white;
    background: $turquoise; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: $white;
    background: $turquoise; /* WebKit/Blink Browsers */
}

html, body {
    height: 100%;
    //user-select: default;
    cursor: default;  
}

h1 {
    @include main-font;
}

h2, p, a{
    @include secondary-font;
}

.App{
    height: 100%;
    background: url("img/white-3.jpg") $nrf center;
    background-size: cover;
    overflow-x: hidden;
}


.One{
    position: relative;
    height: 120vh;
    background: url("./img/turkey-flag-1.jpg") $nrf 50% 50%;
    background-size: cover;
    z-index: 4;
    
    .One-inner{
        position: relative;
        height: 130vh;
        background: url("./img/maidens-tower-1.jpg") $nrf 50% 50%;
        background-size: cover;
        animation: flag-background;
        animation-duration: 10s;
        animation-iteration-count: 1; 
        
        .navbar{
            position: relative;
            //top: -25px;
            height: 40px;
            width: 100vw;
            background: transparent;
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            z-index: 16;
        }

        .navbar-default .navbar-nav > li > a {
            position: relative;
            //top: -10px;

            text-decoration: none;
            display: block;
            padding: 0 1em;
            color: $white;
            font-size: 1.2em;
            transition: all 0.3s ease-in;

            &:hover{
                color: $red; 
                transform: scale(1.2);
                @include occasional-blur;
            }
        }


        .navbar-default .navbar-nav > li:nth-child(n) > a {
            position: relative;
            top: 15px;
            //height: 20px;
        }

        .navbar-default .navbar-nav>.active > a,
        .navbar-default .navbar-nav>.active > a:focus {
            color: $turquoise;
            background: transparent;
        }

        .navbar-default .navbar-nav>.active > a:hover{
             color: red;
             background: transparent;
        }
    }
    
    //overrides automatic padding below navbar
    /*
    .scrollmagic-pin-spacer{
        padding-top: 0vh !important;
        padding-bottom: 0vh !important;
    }*/
    
        
    #hos-geldiniz{
        position: relative;
        top: 5vh; //used to be 65vh
        color: $white;
        @include main-font;
        font-size: $main-header-size;
        text-shadow: 4px 4px 2px rgba(0, 220, 232, 0.5);
        //transition: all 0.3s ease-in-out;
    }
    
    #welcome{
        position: relative;
        top: 5vh; //used to be 65vh
        color: $white;
        text-shadow: 4px 4px 2px rgba(200, 0, 0, 0.5);
        @include secondary-font;
        font-size: $main-subheader-size;
    }
}

.Two {
    position: relative;
    top: 0vh;
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    font-size: large;
    z-index: 19;
    
    .flex-container {
        position: relative;
        padding: 30px;
        margin: 0;
        list-style: none;
        overflow: hidden;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 330px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        text-align: center;
        @include border-radius;
        
        &:nth-child(1){
            width: 500px;
            //background: $white;
            border-radius: 80px;
            transition: all 0.3s ease-in-out;
            
            #bayragi{
                top: 30px;
                font-size: 2.5em;
                font-weight: 700;
                color: $red;
                opacity: 0;
                transform: rotate(-5deg);
                transition: all 0.5s ease-in-out;
            }
            
            #flag{
                position: relative;
                top: 20px;
                font-size: $desc-size;
                color: $turquoise;
                opacity: 0;
                transform: rotate(5deg);
                transition: all 0.5s ease-in-out;                
            }
            
            #bayragi.fade-in, #flag.fade-in{
                @include scrollmagic-header-finish;
            }
            
            p{
                position: relative;
                top: 35px;
                color: $red;
            }
        }
        
        &:nth-child(2){
            width: 700px;
            background: url("img/turkey-flag-1.jpg") $nrs 50% 50%;
            background-size: cover;
            
        }
        
        &:nth-child(3){
            width: 700px;
            background: url("img/virgin-mary-house-1.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                font-size: 2.5em;
            }
        }
        
        &:nth-child(4){
            width: 500px;
            background: url("img/seljuk-eagle-1.png") $nrs 50% 50%;
            background-size: contain;
            
            h1{
                position: relative;
                top: 240px;
                color: $red;
                font-size: 2.5em;
            }
            
            h2{
                position: relative;
                top: 250px;
                color: $red;
                font-size: $desc-size;
            }
        }
    }
}

.Three{
    position: relative;
    height: 150vh;
    background: url("img/cappadocia-1.jpg") $nrf 50% 50%;
    background-size: cover;
   
    
    .Three-inner{
        position: relative;
        height: 150vh;
        background: url("img/uzungol-1.jpg") $nrf 50% 50%;
        background-size: cover;
        
        #cografya{
            position: relative;
            top: 10vh;
            color: $white;
            font-size: $main-header-size; 
            opacity: 0;
            transform: rotate(-10deg);
            transition: all 0.5s ease-in-out;    
        }

        #geography{
            position: relative;
            top: 10vh;
            color: $turquoise;
            font-size: $main-subheader-size;
            opacity: 0;
            transform: rotate(10deg);
            transition: all 0.5s ease-in-out;
        }

        #cografya.fade-in, #geography.fade-in{
            @include scrollmagic-header-finish;
        }

        #uzungol{
            position: relative;
            top: 60vh;
            color: $white;
            font-size: 3em;            
        }

        #uzungol-desc{
            position: relative;
            top: 60vh;
            color: $turquoise;
            font-size: $desc-size;            
        }        
    }
    
    #cappadocia{
        position: relative;
        top: -20vh;
        color: $white;
        font-size: 3em;            
    }
    
    #cappadocia-desc{
        position: relative;
        top: -20vh;
        color: $turquoise;
        font-size: $desc-size;            
    }
}

.Four{
    position: relative;
    height: 110vh;
    background: url("./img/ataturk-1.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Four-inner-1{
        position: relative;
        height: 110vh;
        background: url("./img/map-3.png") $nrs 50% 50%;
        background-size: cover;
        
    }
    
    #merkezi{
        position: relative;
        top: 32vh;
        color: $white;
        font-size: 4em;
        opacity: 0;
        transform: rotate(-10deg);
        transition: all 0.5s ease-in-out;
    }
    
    #center{
        position: relative;
        top: 32vh;
        color: $turquoise;
        font-size: 2em;
        opacity: 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;
    }
    
    #merkezi.fade-in, #center.fade-in{
        @include scrollmagic-header-finish;
    }
    
    #ranging{
        position: relative;
        top: 35vh;
        font-size: $desc-size;
        color: $white;
    }
    
    #ataturk{
        position: relative;
        top: -20vh;
        color: $white;
        font-size: 4em;
        margin: 0px 10vw;        
    }
    
    #founder{
        position: relative;
        top: -20vh;
        color: $turquoise;
        font-size: 2em;
        margin: 0px 10vw;
    }
}


.Five{
    position: relative; 
    height: auto;
    background: url("img/white-3.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .flex-container {
        position: relative;
        padding: 30px;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 500px;
        width: 700px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        border-top: transparent 4px solid;
        border-bottom: transparent 4px solid;
        text-align: center;
        transition: all 0.3s ease-in;
        
        h1{
            position: relative;
            top: 280px;
            color: $white;
            font-size: 2.5em;
        }
            
        h2{
            position: relative;
            top: 290px;
            color: $turquoise;
            font-size: $desc-size;
        }
        
        .map{
            position: relative;
             top: 20px;
             height: 100px;
             length: 300px;
             //opacity: 0.8;
        }
        
        &:nth-child(1){
            height: 200px;
            width: 100%;
            text-align: center; 
            
            #bolgeleri{
                position: relative;
                top: 40px;
                color: $red;
                font-size: $main-header-size;
                opacity: 0;
                transform: rotate(-10deg);
                transition: all 0.5s ease-in-out;
            }

            #regions{
                position: relative;
                top: 80px;
                color: $turquoise;
                font-size: 3em;
                opacity: 0;
                transform: rotate(10deg);
                transition: all 0.5s ease-in-out;
            }

            #bolgeleri.fade-in, #regions.fade-in{
                @include scrollmagic-header-finish;
            }
            
        }
        
        &:nth-child(2){
            background: url("img/marmara-1.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/marmara-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(3){
            background: url("img/aegean-1.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/aegean-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(4){
            background: url("img/mediterranean-mini.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/mediterranean-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(5){
            background: url("img/cappadocia-2.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/central-anatolia-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(6){
            background: url("img/black-sea-mini.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/black-sea-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(7){
            background: url("img/eastern-mini.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/eastern-anatolia-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        }
        
        &:nth-child(8){
            background: url("img/southeastern-5.jpg") $nrs 50% 50%;
            background-size: cover;
            
            .map{
                background: url("img/southeastern-anatolia-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
            
            h1, h2{
                left: 20px;
            }
        }
        
        &:nth-child(9){
            background: url("img/batman-logo-1.jpg") $nrs 60% 90%;
            background-s: cover;
            
            .map{
                background: url("img/eastern-anatolia-region-1.png") $nrs 50% 50%;
                background-size: contain;
            }
        
            
            p{ 
                position: relative;
                top: 300px;
                left: 200px;
                width: 300px;
                color: $white;
                
            }
        }
        
  
        
        &:nth-child(even){
            filter: grayscale(50%);
            -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        }
        
        &:nth-child(2n+3){
            filter: grayscale(50%);
            -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }
        
        &:nth-child(n+2):hover{
            cursor: pointer;
            filter: grayscale(0%);
            transform: scale(1.03);
            border-top: $turquoise 4px solid;
            border-bottom: $turquoise 4px solid;
        }
    }
}

.Six{
    position: relative; 
    height: 120vh;
    background: url("./img/istanbul-2.jpg") $nrf 50% 40%;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    
    #sehirler{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size;
        opacity: 0;
        transform: rotate(-10deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #cities{
        position: relative;
        top: 10vh;
        color: $turquoise;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #sehirler.fade-in, #cities.fade-in{
        @include scrollmagic-header-finish;
    }
    
    #istanbul{
        @include secondary-font;
        color: $turquoise;
        font-size: 2em;
    }
    
    #istanbul-description{
        position: relative;
        top: 45vh;
        color: $white;
        font-size: 1.8em;
        padding: 0px 10vw;
        list-style-type: none;
        
        li{
            @include secondary-font;
        }
    }   
}

.Seven{
    position: relative; 
    height: 120vh;
    background: url("./img/ankara-1.jpg") $nrf 50% 40%;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    
    #ankara{
        @include secondary-font;
        color: $turquoise;
        font-size: 2em;
    }
    
    #ankara-description{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: 1.8em;
        padding: 0px 10vw;
        list-style-type: none;
        
        li{
            @include secondary-font;
        }
    }
}

.Eight{
    position: relative; 
    height: 120vh;
    background: url("./img/izmir-1.JPG") $nrf 50% 40%;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    #izmir{
        @include secondary-font;
        color: $turquoise;
        font-size: 2em;
    }
    
    #izmir-description{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: 1.8em;
        padding: 0px 10vw;
        list-style-type: none;
        
        li{
            @include secondary-font;
        }
    }
}

.Nine{
    position: relative; 
    height: 120vh;
    background: url("./img/bursa-1.jpg") $nrf 50% 40%;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    #bursa{
        @include secondary-font;
        color: $turquoise;
        font-size: 2em;
    }
    
    #bursa-description{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: 1.8em;
        padding: 0px 10vw;
        list-style-type: none;
        
        li{
            @include secondary-font;
        }
    }
}

.Ten{
    position: relative; 
    height: 120vh;
    background: url("./img/adana-1.jpg") $nrf 50% 40%;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
    #adana{
        @include secondary-font;
        color: $turquoise;
        font-size: 2em;
    }
    
    #adana-description{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: 1.8em;
        padding: 0px 10vw;
        list-style-type: none;
        
        li{
            @include secondary-font;
        }
    }
}    

.Eleven{
    position: relative; 
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    
    .flex-container {
        position: relative;
        padding: 30px;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 400px;
        width: 350px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        border-top: transparent 4px solid;
        border-bottom: transparent 4px solid;
        text-align: center;
        transition: all 0.3s ease-in;
            
        h2{
            position: relative;
            top: 330px;
            color: $white;
            font-size: $desc-size;
        }
        
        &:nth-child(even){
            filter: grayscale(50%);
            -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        }
        
        &:nth-child(2n+3){
            filter: grayscale(50%);
            -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }
        
        &:nth-child(1){
            height: 200px;
            width: 100%;
            
            
            #manzaralar{
                position: relative;
                top: 50px;
                color: $red;
                font-size: $main-header-size;
                opacity: 0;
                transform: rotate(-10deg);
                transition: all 0.5s ease-in-out;
            }
            
            #sights{
                position: relative;
                top: 80px;
                color: $turquoise;
                font-size: 3em;
                opacity: 0;
                transform: rotate(10deg);
                transition: all 0.5s ease-in-out;    
            }
    
            #manzaralar.fade-in, #sights.fade-in{
                @include scrollmagic-header-finish;
            }
        }
        
        &:nth-child(2){
            background: url("img/grand-bazaar-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(3){
            background: url("img/basilica-cistern-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(4){
            background: url("img/cappadocia-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(5){
            background: url("img/hagia-sophia-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(6){
            background: url("img/library-of-celsus-mini.jpg") $nrs 30% 50%;
            background-size: cover;
        }
        
        &:nth-child(7){
            background: url("img/chora-church-mini.jpg") $nrs 70% 50%;
            background-size: cover;
        }
        
        &:nth-child(8){
            background: url("img/dolmabahce-mini.jpg") $nrs 60% 50%;
            background-size: cover;
            
        }
        
        &:nth-child(9){
            background: url("img/miniaturk-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(10){
            background: url("img/nemrut-mini.jpg") $nrs 30% 50%;
            background-size: cover;
        }
        
        &:nth-child(11){
            background: url("img/pamukkale-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(12){
            background: url("img/sumela-monastery-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(13){
            background: url("img/anitkabir-mini.jpg") $nrs 40% 50%;
            background-size: cover;
        }
        
        &:nth-child(14){
            background: url("img/blue-mosque-mini.jpg") $nrs 90% 50%;
            background-size: cover;
        }
        
        &:nth-child(15){
            background: url("img/temple-of-artemis-mini.jpg") $nrs 10% 50%;
            background-size: cover;
        }
        
        &:nth-child(16){
            background: url("img/bodrum-castle-mini.jpg") $nrs 70% 50%;
            background-size: cover;
        }
        
        &:nth-child(17){
            background: url("img/virgin-mary-house-2.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                left: -20px;
            }
        }
        
        &:nth-child(18){
            background: url("img/duden-mini.jpg") $nrs 80% 50%;
            background-size: cover;
        }
        
        &:nth-child(19){
            background: url("img/gulhane-mini.jpg") $nrs 10% 50%;
            background-size: cover;
        }
        
        &:nth-child(20){
            background: url("img/topkapi-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(21){
            background: url("img/uzungol-mini.jpg") $nrs 60% 50%;
            background-size: cover;
        }
        
        &:nth-child(22){
            background: url("img/mevlana-mini.jpg") $nrs 0% 50%;
            background-size: cover;
        }
        
        &:nth-child(23){
            background: url("img/taksim-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(24){
            background: url("img/maidens-tower-mini.jpg") $nrs 90% 50%;
            background-size: cover;
        }
        
        &:nth-child(25){
            background: url("img/aspendos-mini.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(n+2):hover{
            cursor: pointer;
            filter: grayscale(0%);
            transform: scale(1.03);
            border-top: $turquoise 4px solid;
            border-bottom: $turquoise 4px solid;
        }
    }
}

.Twelve{
    position: relative;
    height: 170vh;
    background: url("img/hotel-3.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Twelve-inner{
        position: relative;
        height: 170vh;
        background: url("img/hotel-1.jpg") $nrf 50% 50%;
        background-size: cover;
    }
    
    #oteleler{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size; 
        opacity: 0;
        transform: rotate(-10deg);
        transition: all 0.5s ease-in-out;   
    }
    
    #hotels{
        position: relative;
        top: 10vh;
        color: $turquoise;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #oteleler.fade-in, #hotels.fade-in{
        @include scrollmagic-header-finish;
    }
    
    #raffles1{
        position: relative;
        top: 65vh;
        color: $white;
        font-size: $main-subheader-size;
                   
    }
    
    #raffles1-desc{
        position: relative;
        top: 65vh;
        color: $turquoise;
        font-size: $secondary-subheader-size;            
    }
    
    #raffles1-desc{
        position: relative;
        top: 65vh;
        color: $turquoise;
        font-size: $secondary-subheader-size;            
    }
    
    #raffles2{
        position: relative;
        top: -25vh;
        color: $white;
        font-size: $main-subheader-size;           
    }
    
    #raffles2-desc{
        position: relative;
        top: -25vh;
        color: $turquoise;
        font-size: $secondary-subheader-size;            
    }
}

.Thirteen{
    position: relative;
    height: 170vh;
    background: url("img/hotel-5.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Thirteen-inner{
        position: relative;
        height: 170vh;
        background: url("img/hotel-4.jpg") $nrf 50% 50%;
        background-size: cover;
    }
    
    #kayakapi1{
        position: relative;
        top: 85vh;
        color: $white;
        font-size: $main-subheader-size;             
    }
    
    #kayakapi1-desc{
        position: relative;
        top: 85vh;
        color: $turquoise;
        font-size: $secondary-subheader-size;            
    }
    
    #kayakapi2{
        position: relative;
        top: -25vh;
        color: $white;
        font-size: $main-subheader-size;             
    }
    
    #kayakapi2-desc{
        position: relative;
        top: -25vh;
        color: $turquoise;
        font-size: $secondary-subheader-size;            
    }
}

.Fourteen {
    position: relative;
    top: 0vh;
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    font-size: large;
    z-index: 19;
    
    .flex-container {
        position: relative;
        padding: 30px;
        margin: 0;
        list-style: none;
        overflow: hidden;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 400px;
        width: 350px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        border-top: transparent 4px solid;
        border-bottom: transparent 4px solid;
        text-align: center;
        filter: grayscale(50%);
        transition: all 0.3s ease-in;
        
        h2{
            position: relative;
            top: 350px;
            font-size: 1.8em;
            text-align: center;
            color: $white;
        }
        
        a{
            color: transparent;
            text-decoration: none !important;
        }
        
        
        &:nth-child(even), a:nth-child(even){
            -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%) !important;
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%) !important;
            
            h2{
                left: 20px;
            }
        }
        
        &:nth-child(odd), a:nth-child(odd){
            -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }
        
        &:nth-child(1){
            background: url("img/hotel-istanbul.jpg") $nrs center;
            background-size: cover;
            
            h2{
                left: -25px;
            }
        }
        
        &:nth-child(2){
            background: url("img/hotel-izmir.jpg") $nrs 50% 50%;
            background-size: cover;
            
        }
        
        &:nth-child(3){
            background: url("img/hotel-antalya.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                left: -25px;
            }
        }
        
        &:nth-child(4){
            background: url("img/hotel-ankara.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(5){
            background: url("img/hotel-cappadocia.jpg") $nrs center;
            background-size: cover;
            
            h2{
                left: -30px;
            }
        }
        
        &:nth-child(6){
            background: url("img/hotel-trabzon.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(7){
            background: url("img/hotel-bursa.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                left: -25px;
            }
        }
        
        &:nth-child(8){
            background: url("img/hotel-konya.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        
        
        &:nth-child(n):hover{
            cursor: pointer;
            filter: grayscale(0%);
            transform: scale(1.03);
            border-top: $turquoise 4px solid;
            border-bottom: $turquoise 4px solid;
        }
        
        a:hover{
            text-decoration: none;
            color: none;
        }
    }
}

.Fifteen{
    position: relative;
    height: 180vh;
    background: url("img/cuisine-2.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Fifteen-inner{
        position: relative;
        height: 170vh;
        background: url("img/cuisine-1.jpg") $nrf 50% 50%;
        background-size: cover;
    }
    
    #mutfak{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size;  
        opacity: 0;
        transform: rotate(-10deg);
        transition: all 0.5s ease-in-out; 
    }
    
    #cuisine{
        position: relative;
        top: 10vh;
        color: $turquoise;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #mutfak.fade-in, #cuisine.fade-in{
        @include scrollmagic-header-finish;
    }
    
    #meze{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: $main-subheader-size;         
    }
    
    #meze-desc{
        position: relative;
        top: 50vh;
        color: $white;
        font-size: $desc-size;
        padding: 10px;
        @include more-legible-paragraph;
    }   
    
    #doner{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: $main-subheader-size;            
    }
    
    #doner-desc{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: $desc-size;
        padding: 10px;
        @include more-legible-paragraph;
    }
}

#Fifteen > div.container{
    height: 0vh;
}

.Sixteen {
    position: relative;
    top: 0vh;
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    font-size: large;
    z-index: 19;
    
    .flex-container {
        position: relative;
        top: -5vh;
        width: 100vw;
        padding: 0px 30px 30px 30px;
        margin: 0;
        list-style: none;
        overflow: hidden;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 330px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        text-align: center;
        @include border-radius;
        
        &:nth-child(1){
            width: 500px;
            //background: $white;
            border-radius: 80px;
            transition: all 0.3s ease-in-out;
            
            #yemegi{
                top: 30px;
                font-size: 2.5em;
                font-weight: 700;
                color: $red;
                opacity: 0;
                transform: rotate(-5deg);
                transition: all 0.5s ease-in-out;
            }
            
            #food{
                position: relative;
                top: 20px;
                font-size: $desc-size;
                color: $turquoise;
                opacity: 0;
                transform: rotate(5deg);
                transition: all 0.5s ease-in-out;    
            }
    
            #yemegi.fade-in, #food.fade-in{
                @include scrollmagic-header-finish;
            }
    
            
            p{
                position: relative;
                top: 35px;
                color: $red;
            }
        }
        
        &:nth-child(2){
            width: 700px;
            background: url("img/cuisine-3.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                font-size: 2.5em;
            }
            
        }
        
        &:nth-child(3){
            width: 700px;
            background: url("img/cuisine-4.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                font-size: 2.5em;
            }
        }
        
        &:nth-child(4){
            width: 500px;
            background: url("img/cuisine-5.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $red;
                font-size: 2.5em;
            }
        }
    }
}

.Seventeen{
    position: relative;
    height: 170vh;
    background: url("img/cuisine-7.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Seventeen-inner{
        position: relative;
        height: 170vh;
        background: url("img/cuisine-6.jpg") $nrf 50% 50%;
        background-size: cover;
    }
    
    #delight{
        position: relative;
        top: 55vh;
        color: $white;
        font-size: 3em;            
    }
    
    #delight-desc{
        position: relative;
        top: 55vh;
        color: $white;
        font-size: $desc-size;
        padding: 10px;
        @include more-legible-paragraph;
    }
    
    #dolma{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: 3em;            
    }
    
    #dolma-desc{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: $desc-size;
        padding: 10px;
        @include more-legible-paragraph;
    }
}

.Eighteen{
    position: relative;
    height: 180vh;
    background: url("img/cuisine-9.jpg") $nrf 50% 50%;
    background-size: cover;
    
    .Eighteen-inner{
        position: relative;
        height: 180vh;
        background: url("img/cuisine-8.jpg") $nrf 50% 50%;
        background-size: cover;
    }
    
    #simit{
        position: relative;
        top: 55vh;
        color: $white;
        font-size: 3em;            
    }
    
    #simit-desc{
        position: relative;
        top: 55vh;
        color: $white;
        font-size: $desc-size;   
        padding: 10px;
        @include more-legible-paragraph;
    }
    
    #kokorec{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: 3em;            
    }
    
    #kokorec-desc{
        position: relative;
        top: -40vh;
        color: $white;
        font-size: $desc-size;
        padding: 10px;
        @include more-legible-paragraph;
    }
}

.Nineteen {
    position: relative;
    top: 0vh;
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    font-size: large;
    z-index: 19;
    
    .flex-container {
        position: relative;
        top: -10vh;
        width: 100vw;
        padding: 0px 30px 0px 30px;
        margin: 0;
        list-style: none;
        overflow: hidden;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 330px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        text-align: center;
        @include border-radius;
        
        &:nth-child(1){
            width: 700px;
            //background: $white;
            border-radius: 80px;
            transition: all 0.3s ease-in-out;
            
            #dili{
                top: 30px;
                font-size: 2.5em;
                font-weight: 700;
                color: $red;
                opacity: 0;
                transform: rotate(-5deg);
                transition: all 0.5s ease-in-out;
            }
            
            #language{
                position: relative;
                top: 20px;
                font-size: $desc-size;
                color: $turquoise;
                opacity: 0;
                transform: rotate(5deg);
                transition: all 0.5s ease-in-out;    
            }
    
            #dili.fade-in, #language.fade-in{
                @include scrollmagic-header-finish;
            }
            
            p{
                position: relative;
                top: 35px;
                color: $red;
            }
        }
        
        &:nth-child(2){
            width: 500px;
            background: url("img/turkish-1.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                font-size: 2.5em;
            }
            
        }
        
        &:nth-child(3){
            width: 500px;
            background: url("img/turkish-2.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                background-color: rgba(0,0,0,0.5);
                padding: 5px 0px;
                font-size: 2em;
            }
        }
        
        &:nth-child(4){
            width: 700px;
            background: url("img/turkish-4.jpg") $nrs 50% 50%;
            background-size: cover;
            
            h2{
                position: relative;
                top: 240px;
                color: $white;
                font-size: 2em;
            }
        }
    }
}

.Twenty{
    position: relative;
    height: 110vh;
    background: url("img/ataturk-2.jpg") $nrf 50% 50%;
    background-size: cover;
    
    #alfabe{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size;
        opacity: 0;
        transform: rotate(-5deg);
        transition: all 0.5s ease-in-out;
    }
    
    #alphabet{
        position: relative;
        top: 10vh;
        color: $red;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(5deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #alfabe.fade-in, #alphabet.fade-in{
        @include scrollmagic-header-finish;
    }
    
    h2:nth-child(3){
        position: relative;
        top: 30vh;
        color: $white; 
        font-size: $desc-size;
    }
    
    a{ 
        text-decoration: none;
        color: $red;
        font-size: 1em;
        transition: all 0.2s ease-in;
        
        &:hover{
            color: $turquoise; 
            @include occasional-blur;
        }        
    }
}

.Twenty-one{
    position: relative;
    height: 115vh;
    background: url("img/red-1.jpg") $nrf 50% 50%;
    background-size: cover;
    
    #cumleler{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size;
        opacity: 0;
        transform: rotate(-10deg);
        transition: all 0.5s ease-in-out;
    }
    
    #phrases{
        position: relative;
        top: 10vh;
        color: $turquoise;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(10deg);
        transition: all 0.5s ease-in-out;    
    }
    
    #cumleler.fade-in, #phrases.fade-in{
        @include scrollmagic-header-finish;
    }
    
    li{
        position: relative;
        top: 10vh;
        color: $white; 
        font-size: $desc-size;
        @include secondary-font;
        list-style: none;
    }
    
    #pronunciation{
        color: hotpink;
    }
    
    #translation{
        color: $turquoise;
    }
}

.Twenty-two{
    position: relative; 
    height: auto;
    background: url("./img/white-3.jpg") $nrf center;
    background-size: cover;
    
    .flex-container {
        position: relative;
        padding: 30px;
        margin: 0;
        list-style: none;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        -webkit-flex-flow: row wrap;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .flex-item{
        padding: 5px;
        height: 400px;
        width: 350px;
        margin: 10px 0px;
  
        line-height: 30px;
        font-family: $main-font, Arial, Helvetica, serif;
        //font-size: 3em;
        border-top: transparent 4px solid;
        border-bottom: transparent 4px solid;
        text-align: center;
        filter: grayscale(50%);
        transition: all 0.3s ease-in;
            
        h2{
            position: relative;
            top: 330px;
            color: $white;
            font-size: $desc-size;
        }
        
        &:nth-child(even){
            -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
        }
        
        &:nth-child(2n+3){
            -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
        }
        
        &:nth-child(1){
            height: 200px;
            width: 100%;
            filter: grayscale(0%);
            
            #konular{
                position: relative;
                top: 50px;
                color: $red;
                font-size: $main-header-size;
                opacity: 0;
                transform: rotate(-10deg);
                transition: all 0.5s ease-in-out;
            }
            
            #topics{
                position: relative;
                top: 80px;
                color: $turquoise;
                font-size: $main-subheader-size;
                opacity: 0;
                transform: rotate(10deg);
                transition: all 0.5s ease-in-out;    
            }
    
            #konular.fade-in, #topics.fade-in{
                @include scrollmagic-header-finish;
            }
        }
        
        &:nth-child(2){
            background: url("img/turkish-5.jpg") $nrs 65% 50%;
            background-size: cover;
        }
        
        &:nth-child(3){
            background: url("img/turkish-6.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(4){
            background: url("img/turkish-7.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(5){
            background: url("img/turquoise-2.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(6){
            background: url("img/turkish-8.jpg") $nrs 60% 50%;
            background-size: cover;
        }
        
        &:nth-child(7){
            background: url("img/turkish-9.jpg") $nrs 80% 50%;
            background-size: cover;
        }
        
        &:nth-child(8){
            background: url("img/turkish-10.jpg") $nrs 50% 50%;
            background-size: cover;            
        }
        
        &:nth-child(9){
            background: url("img/turkish-11.jpg") $nrs 50% 50%;
            background-size: cover;
        }
        
        &:nth-child(n+2):hover{
            cursor: pointer;
            filter: grayscale(0%);
            transform: scale(1.03);
            border-top: $turquoise 4px solid;
            border-bottom: $turquoise 4px solid;
        }
    }
}

.Twenty-three{
    position: relative;
    height: 100vh;
    background: url("./img/istanbul-3.jpg") $nrf center;
    background-size: cover;
    
    #yolculuk{
        position: relative;
        top: 10vh;
        color: $white;
        font-size: $main-header-size;
        opacity: 0;
        transform: rotate(-5deg);
        transition:  all 0.5s ease-in-out;
    }
    
    #voyage{
        position: relative;
        top: 10vh;
        color: $turquoise;
        font-size: $main-subheader-size;
        opacity: 0;
        transform: rotate(5deg);
        transition: all 0.5s ease-in-out;    
    }
            
    #yolculuk.fade-in, #voyage.fade-in{
        @include scrollmagic-header-finish;
    }
    
    .navbar{
        position: relative;
        top: 70vh;
        height: 40px;
        width: 100vw;
            background: transparent;
            border: none;
            border-radius: 0px;
            margin-bottom: 0px;
            z-index: 16;
        }

        .navbar-default .navbar-nav > li > a {
            position: relative;
            //top: -10px;

            text-decoration: none;
            display: block;
            padding: 0 1em;
            color: $white;
            font-size: 1.2em;
            transition: all 0.3s ease-in;

            &:hover{
                color: $turquoise; 
                transform: scale(1.2);
                @include occasional-blur;
            }
        }


        .navbar-default .navbar-nav > li:nth-child(n) > a {
            position: relative;
            top: 15px;
            //height: 20px;
        }

        .navbar-default .navbar-nav>.active > a,
        .navbar-default .navbar-nav>.active > a:focus {
            color: $turquoise;
            background: transparent;
        }

        .navbar-default .navbar-nav>.active > a:hover{
             color: red;
             background: transparent;
        }
}

.image___2FLq2, .inner___1rfRQ {
    background: rgba(0,0,0,0)
    //background-size: cover;
}

.toolbar___1xYly{
    background: rgba(0,0,0,0);
}
  

.navButtonPrev___2vBS8{
    background: rgba(0,0,200, 0.4);
}

.navButtonPrev___2vBS8{
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==") no-repeat 50%;
    
     &:focus{
        border: none;
        outline: none;
    }  
}

.navButtonNext___30R2i{
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+") no-repeat 50%;
    
     &:focus{
        border: none;
        outline: none;
    }  
}

.outer___2lDXy{
    &:focus{
        border: none;
        outline: none;
    }
}

.caption___3vDh_ {
    background-color: rgba(0,0,0,0.7);
}

.toolbar___1xYly {
    background-color: rgba(0,0,0,0);
}

.toolbarItemChild___2U_MP > h1{
    font-size: 1.8em;
    text-align: right;
    color: $white;
    @include main-font;
}

.captionContent___30kw2{
    margin: 0vh 10vw 50px 10vw;
    @include secondary-font;
}

.scrollmagic-chevron{
    opacity: 0;
    transform: rotateY(45deg) translateY(15px);
}

.scrollmagic-info-squares{
    opacity: 0;
    transform: translateX(45px) translateY(15px);
    transition:  all 0.5s ease-in-out;
}

.scrollmagic-desc{
    opacity: 0;
    transform: rotateY(45deg) translateY(15px);
    transition:  all 0.5s ease-in-out;
}

.horizontal-fade{
    opacity: 1;
    transform: rotate(0deg) rotateX(0deg) translateX(0px) translateY(0px);
}

.scrollmagic-div-fadeout, .scrollmagic-inner-fadeout{
    transition: opacity 0.3s ease-in-out;
}

.fadeout{
    opacity: 0;
}

.scrollmagic-vocab{
    opacity: 0;
    transform: rotateY(45deg) translateY(15px);
    transition:  all 0.5s ease-in-out;
}

.vocab-fadein{
    opacity: 1;
    transform: rotateY(0deg) translateY(0px);
}

.Three-background-change{
    position: relative;
    height: 150vh;
    background: url("img/cappadocia-1.jpg") $nrf 50% 50%;
    background-size: cover;
}

